.menu_bar {
  display: none;
}

.menu_bar .link.user_item {
  text-align: center !important;
  display: block;
  text-decoration: none;
  height: 100%;
  background: transparent;
}

.menu_bar .link.user_item img,
.nav .link.user_item img {
  border-radius: 50% !important;
  width: 25px;
  vertical-align: middle;
  background: transparent;
}

.menu_bar .link.user_item p,
.nav .link.user_item p {
  margin: 0;
}

.menu_bar .link.cart {
  position: relative;
}

.nav .link .badge,
.menu_bar .link.cart .badge {
  position: absolute;
  padding: 2px 7px;
  font-size: 13px;
  border-radius: 50%;
}

.nav .link .badge {
  top: -12px;
  right: -15px;
}

.nav .link.cart .badge {
  top: -10px;
  right: -5px;
}

.nav {
  display: block;
  height: 65px;
  max-height: 65px;
  border-bottom: 2px solid;
}

.nav .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.nav .list .list_element {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  color: currentColor;
  height: 59px;
}

.nav .list .list_element .link {
  text-decoration: none;
  position: relative;
}

.logout {
  position: absolute;
  background-color: transparent;
}

.logout .button {
  border: none;
  background-color: transparent;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .nav .list .list_element.movil_disabled {
    display: none;
  }

  .header {
    display: none;
  }

  .menu_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 95px;
    width: 100%;
  }

  .menu_bar .link {
    list-style: none;
    text-decoration: none;
    padding: 15px 0px;
  }

  .menu_bar .link.user_item {
    display: inline-block;
  }

  .nav {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .nav .list {
    font-size: 12px;
  }

  .nav .list .list_element {
    padding: 12px 15px;
  }

  .nav .list .list_element.hand {
    display: none;
  }
  
  .nav .list .search_contenent {
    display: none;
  }

  .menu_bar .link.cart .badge {
    top: 7px;
    left: 23px;
    padding: 2px 7px;
    font-size: 13px;
    border-radius: 50%;
  }
}

.header {
  background-color: var(--main-grey);
  color: var(--color-text);
}

.nav {
  border-bottom-color: var(--main-green);
}

.menu_bar .link.user_item {
  color: var(--color-text);
}

.nav .link .badge,
.menu_bar .link.cart .badge {
  background-color: var(--main-green);
  color: var(--color-text);
}

.nav {
  background-color: var(--main-grey);
  color: var(--color-text);
}

.nav .list .list_element .link {
  color: var(--color-text);
}

.logout .button {
  color: var(--color-text);
}

.nav .list .list_element:hover {
  color: var(--main-grey);
  background-color: var(--opacity-green);
}

.nav .list .list_element.active .link {
  color: var(--main-green);
}

.nav .list .list_element.active:hover .link {
  color: var(--color-text);
}

.filters{
  background: var(--main-grey);
}

.filters .link {
  color: var(--color-text);
}

.filters .link:hover {
  background: var(--opacity-green);
}


@media screen and (max-width: 800px) {
  .menu_bar {
    background-color: var(--main-grey);
    color: var(--color-text);
  }

  .menu_bar .link {
    color: var(--color-text);
  }
}
