.listanime-page {
  margin: 0;
  display: block;
  padding-bottom: 5px;
  width: 100%;
  height: auto;
}

.toolbar{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left:39px;
  padding-right: 39px;
}

.toolbar .tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listanime-page .tab .tablinks {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

.listanime-page .tab .tablinks i {
  font-size: 28px;
}

.listanime-page .tab .tablinks.active{
  display:inline-block;
  /* background: var(--main-green);  */
  color: var(--color-text);
}

.listanime-page .tab a[class*='active']{
  display: none!important;
}

.listanime-page .tab a:not([class*='active']) {
  display:inline-block;
  /* background: var(--main-green);  */
  color: var(--color-text);
}

.tabcontent {
  display: block;
  padding: 6px 12px;
  border-top: none;
  text-align: center;
  width: auto;
}

.paginator * {
  display: inline-block;
  color: var(--color-text);
  font-size: 22px;
}

.paginator .page a {
  text-decoration: none;
  list-style: none;
  padding: 14px 16px;
}

.paginator .page a:hover i{
  color: var(--main-green);
}
.paginator .page i{
  font-size: 28px;
}

.toolbar .tab{
  color: var(--main-green);
}

.toolbar .tab .tablinks{
  color: var(--color-text);
}

.toolbar .tab .tablinks:hover {
  color: var(--color-text);
}

.toolbar .tab .tablinks.active {
  /* background: var(--main-green); */
  color: var(--color-text);
}


.table{
  background-color: var(--opacity-grey);
  color: var(--color-text);
}

.table .table-tbody .tbody-row:hover {
  box-shadow: 0px 0px 10px var(--color-text);
}

.listanime-page {
  color: var(--color-text);
}

.listanime-page .tab .tablinks {
  /* background-color: var(--opacity-grey); */
  color: var(--main-green);
}

.listanime-page .tab .tablinks:hover {
  /* background-color: var(--opacity-grey); */
  color: var(--main-green);
}


.seasions .title{
  color: var(--color-text);
}