
.header{
    width:100%;
    background: var(--opacity-grey);
    overflow: hidden;
    height: 45px;
    transition: height 0.9s ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 45px;
   }
   
   .header .music_player{
    box-sizing: border-box;
    display: inline-block;
    height: 45px;
    background: var(--opacity-grey);
    max-width: 70%;
   }
  
  #player {
    width:100%;
    height: 100%;
    text-align: left;
  }
  
  #player .cover {
   display: inline-block;
   width: 44px;
   height: auto;
   padding-left: 25px;
  }
  #player .container {
    display: inline-block;
    overflow: hidden;
    padding-left: 25px;
  }
  
  #player .info {
    display: inline-block;
  }
  
  #player .info .cont {
    display: inline-block;
  }
  
  #player .trackinfo {
    vertical-align: top;
    display: inline-block;
    color: var(--color-text);
  }
  
  #player .trackinfo p {
    text-shadow: 0px 0px 5px var(--main-green);
  }
  
  #player .trackinfo #title {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
  }
  
  #player .trackinfo #artist {
    display: inline-block;
  }
  
  #player #track {
    vertical-align: top;
    display: inline-block;
    width: 435px;
    height: 100%;
    cursor: pointer;
    position: relative;
  }
  
  #player #progress {
    position: absolute;
    top: 50%;
    left: 0%; 
    display: inline-block;
    height: 5px;
    width: 0%;
    background: var(--main-green);
    cursor: pointer;
  }
  
  #player #handler {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--main-green);
     top: 37%;
    left: 0%; 
    border-radius: 50%;
    cursor: pointer;
  }
  
  #player .nav {
    width: 40px;
    height: 40px;
    vertical-align: top;
    background-color: var(--main-grey);
    outline: none;
    margin: 0 7px;
    cursor: pointer;
    color: var(--color-text);
    border: none;
  }
  
  #player .nav:hover {
    color: var(--main-green);
  }
  
   .header .langs{
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    background: var(--opacity-grey);
    list-style:none;
    transform:skew(-25deg);
    vertical-align: middle;
  }
  
   .header .langs .list_element {
    border-right:1px solid var(--color-text);
    background-color: var(--opacity-grey);
    text-transform:uppercase;
    transition:all 0.3s linear;
    padding:5px;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    width: auto;
  }
  
  .header .langs .list_element:hover,
  .header .langs .list_element.active {
    background-color: var(--opacity-green);
    border-color: var(--main-grey);
  }
  
  .header .langs .list_element a {
    display: inline-block;
    font-size: 16px;
    text-decoration:none;
    transform:skew(25deg);
    color: var(--color-text);
  }
  
  .header .langs .list_element:first-child{  
    border-radius: 7px 0 0  7px;
   }
  
  .header .langs .list_element:last-child{
    border-radius:0 7px  7px 0;
  }
  
  .header .langs select {
    padding: 5px 15px;
    border-radius: 2px;
    width: 150px;
  }
  
  .header .langs select option {
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
  }
  
  .header .langs select option:hover {
    padding: 5px 15px;
    text-align: center;
  }
  