main{
	margin-top: 0;
}

header nav  {
	background: var(--opacity-grey);
	color:var(--color-text);
}
  
.home{
	background-color: var(--opacity-grey);
	position: absolute;
	top: 0;
	width:100%;
}

.home_body{
	text-align: center;
	background-color: var(--opacity-grey);
}
  

.home_body .home_body_content {
	display: block;
	color: var(--color-text);
	margin:8px;
}

.body-home{
	display: inline-block;
	color: #cccccc;
}

.lista_proximas{
	display: inline-block;
	color: var(--color-text);
	background-color: var(--opacity-grey);
	vertical-align: top;
	height: auto;
	width: 100%;
	max-height: 325px;
	overflow: hidden;
}

.lista_proximas ul{
	overflow: auto;
	margin-left:2px;
	margin-right: 2px;
	margin-bottom: 2px;
	height: auto;
    max-height: 100%;
}

.lista_proximas .lista {
	display: inline-block;
    width: 24%;
    vertical-align: middle;
    margin: 0px 10px 10px 0px;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 14px;
}

.lista_proximas .lista .texto_line{
	display: flex;
    justify-content: left;
    align-items: center;
    background: var(--main-grey);
    width:100%;
    padding-right: 7px;
    height: 55px;
    max-height: 55px;
	text-align: left;
	color: var(--color-text);
	text-decoration: none;
}

.lista_proximas .lista .texto_line:hover,
.lista_proximas .lista .texto_line:hover .img{
	background-color: var(--main-green);
	-webkit-box-shadow:  inset -147px -5px 52px -82px   var(--main-green);
    -moz-box-shadow:  inset -147px -5px 52px -82px   var(--main-green);
	box-shadow:  inset -147px -5px 52px -82px   var(--main-green);
}

.lista_proximas .lista .texto_line .img{
	display: inline-block;
	width: 33%;
    min-width: 90px;
	height: 55px;
	-webkit-box-shadow:  inset -147px -5px 52px -82px   var(--main-grey);
	-moz-box-shadow:  inset -147px -5px 52px -82px   var(--main-grey);
	box-shadow:  inset -147px -5px 52px -82px   var(--main-grey);
}

.lista_proximas .lista .texto_line .texto {
	display: inline-block;
	max-width: 65%;
	font-size: 12px;
}

 .header-home .first{
	  overflow: hidden;
	margin: 0;
    max-width:100%;
	max-height: 357px;
	position: relative;
}

 .header-home .articles{
    display: inline-block;
	margin: 0;
	max-height: 400px;
	position: relative;
} 


 .header-home  * .titulo{
	font-size: 40px;
	line-height: 24px;
    font-size: 20px;
	letter-spacing: 2.5px;
	font-family: normal;
	color: var(--color-text);

	height: 35px;
	-webkit-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	-moz-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	background-color: var(--opacity-grey);
	overflow: hidden;
	color: var(--color-text);
	font-size: 15px;
	position: absolute;
	bottom: 0px;
	width:100%;
	text-align: center;
}
 
@media screen and (max-width: 800px) {
	.lista_proximas .lista {
		width: 90%;
		display: block;
		margin:0px 5px 0px 5px;
	}

	.header-home .articles img{
		width:100%;
		height: 290px;
	}

	.home_body .home_body_content .element{
		width: 100%;
		text-align: left;
	}
}