::-webkit-scrollbar {
  width: 10px;
}

i[class^="fab fa-"],
i[class^="far fa-"],
i[class^="fas fa-"] {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  transition: all 0.3s ease !important;
  /* font-family: "Roboto-Black"; */
  font-family: "Coming Soon";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
}

.child {
  position: fixed;
  bottom: 54px;
  right: 50px;
  width: 25px;
  height: 0px;
}

.button_fixed {
  position: absolute;
  font-family: "Roboto";
  font-size: 14px;
  border: 1px solid;
  padding: 2px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
}

.ir-arriba {
  bottom: 1px;
  left: -55%;
}

.config {
  bottom: 26px;
  left: 40%;
}
.boton_chat {
  bottom: -23px;
  left: 40%;
}

.boton_modal {
  bottom: 1px;
  left: 136%;
}

.button_fixed * {
  font-size: 14px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform: rotate(-45deg) scale(1.4);
}

main {
  width: 100%;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  height: 100%;
  overflow: hidden;
}

/* main > *{
  display: block!important;
  width: 100%;
} */

.alert_container {
  position: fixed;
  right: -999px;
  z-index: 999999999;
  height: fit-content;
  max-width: 195px;
  min-width: max-content;
  transition: all 0.9s;
  top: 5%;
}

.alert {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.alert strong {
  font-size: 20px;
  padding: 0px 2px;
}

.alert p {
  max-width: 95%;
  padding: 0px 5px;
}

.alert.success {
  border-left: 12px solid #358338;
  background-color: rgba(76, 175, 79, 0.664);
}

.alert.danger {
  border-left: 12px solid rgb(155, 44, 36);
  background-color: rgba(244, 67, 54, 0.685);
}

.alert.warning {
  border-left: 12px solid rgb(214, 129, 0);
  background-color: rgb(255, 152, 0, 0.685);
}

.alert.info {
  border-left: 12px solid rgb(25, 113, 185);
  background-color: rgb(33, 150, 243, 0.685);
}

.alert .closebtn {
  font-size: 22px;
  padding: 0px 2px;
}

.alert_container:hover {
  box-shadow: none;
  cursor: pointer;
}

.mensajes {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 45px;
  min-width: max-content;
}

.mensajes .notification {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.mensajes .notification.success {
  border-left: 12px solid #358338;
  background-color: rgba(76, 175, 79, 0.664);
}

.mensajes .notification.danger {
  border-left: 12px solid rgb(155, 44, 36);
  background-color: rgba(244, 67, 54, 0.685);
}

.mensajes .notification.warning {
  border-left: 12px solid rgb(214, 129, 0);
  background-color: rgb(255, 152, 0, 0.685);
}

.mensajes .notification.info {
  border-left: 12px solid rgb(25, 113, 185);
  background-color: rgb(33, 150, 243, 0.685);
}

.mensajes .delete {
  font-size: 22px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  body {
    padding-top: 0px;
    width: auto;
  }

  .child {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .alert_container {
    position: fixed;
    top: 0;
    max-width: 100%;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
