

.search_full,
.search_contenent {
  height: 59px;
  max-height: 89px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.search_contenent {
  max-width: 25%;
}

.search_full{
  width: 100%;
}

.search_full form,
.search_contenent form{
  color: var(--color-text);
  background-color: var(--main-grey);
  text-align: center;
  height: 100%;
}

.form-control {
  display: inline-block;
  font-family: "Roboto";
  background: transparent;
  border-style: none;
  vertical-align: middle;
  text-align: left;
  letter-spacing: 1px;
  height: 100%;
  color: var(--color-text);
}

.search_full .form-control{
  width: 38%;
}

.search_icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  background: transparent;
  height: 100%;
  padding: 0px 3px;
  border: none;
  color: var(--color-text);
}

.lista_resultados {
  color: var(--color-text);
  background-color: var(--main-grey);
  z-index: 99;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  max-height: 990px;
  max-width: 468px;
}

.search_full .lista_resultados {
  z-index: 0;
  min-height: 89px;
}

.lista_resultados .wrapper {
  text-align: left;
}

.lista_resultados .more_button{
  display: block;
  width: 100%;
  min-height: 15px;
}

.lista_resultados .animes {
  max-height: 1050px;
  display: block;
  width: calc(100% + 20px); 
}

.lista_resultados .animes .animes_element {
  max-height: 145px;
  width: 100%;
  border-bottom: 1px solid var(--main-green);
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
  text-align: left;
  margin: 0;
}

.lista_resultados .animes .animes_element .img,
.lista_resultados .animes .animes_element .info {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  height: 125px;
}

.lista_resultados .animes .animes_element .img {
  width: 50px;
  height: 83px;
}

.lista_resultados .animes .animes_element .img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lista_resultados .animes .animes_element .info {
  width: 75%;
  height: 100%;
}

.lista_resultados .animes .animes_element .info * {
  display: block;
  color: var(--color-text);
}

.lista_resultados .animes .animes_element .info p {
  max-width: 825px;
  width: 100%;
  font-size: 14px;
}

.lista_resultados .animes .animes_element .info ul li {
  display: inline-block;
  background-color: var(--main-green);
  margin-right: 8px;
  padding: 2px;
  vertical-align: bottom;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .search_contenent {
    height: 0px;
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    background: var(--main-grey);
    z-index: 2;
  }

  form input {
    width: 84%;
  }

  .lista_resultados .animes .animes_element .img {
    width: 18%;
  }
  .lista_resultados .animes .animes_element .info {
    width: 74%;
    max-width: 825px;
  }

  .lista_resultados .animes .animes_element {
    overflow: hidden;
  }

  .search_icon {
    display: inline-block;
  }
}
