:root {
    --color-text: #fff;
    --main-green: #ff1e00/*#07c24f*/;
    --main-grey: #3d3d3d;
    --opacity-grey: #3d3d3da4;
    --opacity-green: #07c24fbd;


    --main-green: #23a7ff;
    --opacity-green: #23a7ffb7;

}


:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
