.episode-page {
    padding: 0.5%;
    background-color: var(--opacity-grey);
    color: var(--color-text);
    text-align: center;
  }
  
  .episode-page .element .element_video {
    border: 1px solid var(--main-green);
    max-height: 670px;
    max-width: 765px;
    width: 960px;
    height: 540px;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    position: relative;
  }
  
  .episode-page .element .element_video video {
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  .episode-page .element .element_title {
    color: var(--main-green);
    text-align: center;
    font-size: 18px;
  }
  
  .episode-page .options {
    /* max-width: 125px; */
    display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .episode-page .element .options .option-btn {
    font-size: 20px;
    color: var(--main-green);
    display: inline-block;
    line-height: 1.6;
    margin: 0 0.5em;
    padding: 0 0.7em;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .episode-page .element .options .option-btn i {
    color: var(--main-green);
  }
  /* .episode-page .element .options .option {
    display: inline-block;
    list-style: none;
    color: var(--main-green);
  }
  
  .episode-page .element .options .option * {
    display: inline-block;
  } */
  .episode-page .element .options .first-child,
  .episode-page .element .options .second-child {
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    text-decoration: none;
    color: var(--color-text);
    margin: 0 0.5em !important;
    padding: 0 0.7em !important;
  }
  
  .episode-page .element .options .first-child i,
  .episode-page .element .options .second-child i {
    padding: 0 0.7em;
  }
  
  .episode-page .element .options .option:hover,
  .episode-page .element .options .option-btn:hover {
    color: var(--main-green);
    cursor: pointer;
    background-color: transparent;
  }
  
  /* .episode-page .element .options .option.actions {
    margin-top: 15px;
  } */
  
  .episode-page .element .options select {
    padding: 5px 15px;
    background: var(--main-green);
    border-radius: 2px;
    color: var(--color-text);
    width: 150px;
  }
  
  .episode-page .element .options select option {
    padding: 5px 15px;
    background: var(--main-green);
    border-radius: 2px;
    color: var(--color-text);
    text-align: center;
  }
  
  .episode-page .element .options select option:hover {
    padding: 5px 15px;
    background: var(--main-green);
    color: var(--main-green);
    text-align: center;
  }
  
  .episode-page .element .options .option.actions {
    border: 1px solid var(--main-green);
  }
  
  .episode-page .element .options .option.actions .submit {
    background: var(--main-grey);
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto";
    font-size: 13px;
    padding: 11px;
    margin: 0;
    border: none;
    color: var(--main-green);
  }
  
  .episode-page .element .options .option.actions .submit:hover {
    background: var(--main-green);
    color: var(--opacity-grey) !important;
    transition: none !important;
  }
  
  .episode-page .element .actions input[type="number"] {
    text-align: center;
    margin: 0;
    font-family: "Roboto";
    font-size: 18px;
    color: var(--main-green);
    outline: none;
    background: transparent;
    border: none;
    width: 45px;
  }
  
  .animes_intereseted {
    display: block;
    color: var(--color-text);
    padding: 0px 39px;
    margin-right: 0;
    text-align: left;
    width: auto;
    overflow: hidden;
    background-color: var(--opacity-grey);
  }
  
  @media screen and (max-width: 800px) {
    .video{
      display: block;
      width: 100%;
  }
  
    .episode-page .element .element_video{
      max-width: 100%;
      max-height: 375px;
    }
  
    .episode-page .element .options .option.actions * {
      text-align: center;
      margin: auto;
    }
      
      .lista_proximas{
          display: block;
          width: 100%;
          margin-top: 0;
      }
  
      .lista_proximas .lista {
          width: 90%;
          display: block;
          margin:auto;
    }
    
    .episode-page .element .options{
      flex-direction: column;
    }
  
  }


































































  :root {
    --color-text: #fff;
    --main-green: #ff1e00/*#07c24f*/;
    --main-grey: #3d3d3d;
    --opacity-grey: #3d3d3da4;
    --opacity-green: #07c24fbd;


    --main-green: #23a7ff;
    --opacity-green: #23a7ffb7;

}
/* Track */
::-webkit-scrollbar-track {
    background: var(--main-grey);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--opacity-green);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-green);
  }

  main{
    background-color: #666666;
  }

.progress-container{
    background: var(--opacity-grey);
}

.progress-bar{
    background: var(--main-green);
}

.button_fixed{
    border-color: var(--color-text);
    color: var(--color-text);
    background: var(--main-green);
}

.alert{
    color: var(--color-text);
}

.mensajes .notification{
    color: var(--color-text);
}

.mensajes .delete:hover {
    color: var(--color-text);
  }

.pre{
    background-color: var(--opacity-grey);
    color: var(--opacity-grey);
}

.pre:hover{
    background-color: var(--opacity-grey);
  color: var(--main-green);
}

.admin{
    background: var(--main-grey);
}

.admin_element {
    color: var(--main-green);
    border: 1px solid var(--main-green);
}

.admin_element.active {
    background-color: var(--main-green);
    color: var(--color-text);
  }

.toolbar .tab{
    color: var(--main-green);
    background-color: var(--opacity-grey);
}

.toolbar .tab .tablinks{
    color: var(--color-text);
}

.toolbar .tab .tablinks:hover {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

/* .toolbar .tab .tablink.active, */
.toolbar .tab .tablinks.active {
    background: var(--main-green);
    color: var(--color-text);
}

.importador #myProgress{
    background-color: var(--main-grey);
}

.importador .percent{
    color: white !important;
}

.container-loading{
    background-color: var(--opacity-grey);
}

.container-loading .texto{
    color: var(--main-green);
}

.container-loading .folding .sk-cube:before{
    background-color: var(--main-green);
}

.commingsoon{
    color: var(--color-text);
}


.comments .info_avatar .info_usuario .estado .input_enviar{
    border: 1px solid var(--main-green);
    color: var(--color-text);
}

.comments .info_avatar .info_usuario .estado .btn_enviar{
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    color: var(--color-text);
}
 
.comentario{
    color: var(--color-text);
}

.tarjeta {
    background: var(--main-grey);
}

.slider_banner .banner .anime .first .titulo{
	-webkit-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	-moz-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	box-shadow: 0 -6px 16px 10px var(--opacity-grey);
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

.slider_banner .flecha-banner {
    color:var(--opacity-green);
}

.slider_banner .flecha-banner:hover {
	color: var(--main-green);
}

.filters{
    background: var(--main-grey);
}

.filters .link {
    color: var(--color-text);
}

.filters .link:hover {
    background: var(--opacity-green);
}

.error{
    color: var(--main-green);
}

.error .text{
    background-color: var(--opacity-green);
    color: var(--main-grey);
    border: 2px solid var(--main-grey);
}

.error .link {
    background: var(--main-green);
    border: 2px solid var(--color-text);
    color: var(--color-text);
}

.error .link:hover{
    border-color: var(--main-green);
    background: var(--opacity-grey);
    color: var(--color-text);
}

#endingrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}

#endingrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
}

#endingrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

#endingrid .table.table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
}

#episodegrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}

#episodegrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
}

#episodegrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

#episodegrid .table .table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
}


#openingrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}
  
  #openingrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
  }
  
  #openingrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
  }
  
  #openingrid .table.table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
  }
  

.personage_list{
    background-color: black;
}

 .personage_list .info{ 
    color: var(--opacity-green);
}

.table{
    background-color: var(--opacity-grey);
    color: var(--color-text);
  }
  
  .table .table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
  }

.PersonageDetails .modal_container{
    color: var(--color-text);
}

.PersonageDetails  .modal_container .personage-modal.first .image{
    border: 1px solid  var(--main-green);
}


footer{
    background:var(--main-grey);
    border-top-color: var(--main-green);
    color: var(--color-text);
}

  footer .footer-list .element_container {
    color: var(--color-text);
    background: var(--main-green);
  } 
  
  footer .footer-list .element_container .element_text{
    background-color: var(--main-green);
    color:var(--color-text);
  }
  
  footer .footer-logo .logo {
    color: var(--color-text);
  } 
  
   footer .footer-logo .contador li:hover{
     background-color: transparent;
   }
   
   footer .footer-logo .contador li i{
    color: var(--color-text);
    background-color: linear-gradient(to bottom, #ffffff, var(--main-green))!important;
   }
  
  footer .footer-logo .sidenav .element * {
    display: block;
    color: var(--color-text);
  }
  
  .listanime-page {
    color: var(--color-text);
}

.listanime-page .tab .tablinks {
    background-color: var(--opacity-grey);
    color: var(--main-green);
}

.listanime-page .tab .tablinks:hover {
    background-color: var(--opacity-grey);
    color: var(--main-green);
}