/* @import url("./fonts.css"); */
:root {
    --color-text: #fff;
    --main-green: #07c24f;
    --main-grey: #3d3d3d;
    --opacity-grey: #3d3d3da4;
    --opacity-green: #07c24fbd;
}

i[class^="fab fa-"],
i[class^="far fa-"],
i[class^="fas fa-"] {
    font-size: 16px;
    color: var(--color-text);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    text-align: center;
    background: var(--main-grey);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: var(--opacity-grey);
    border-radius: 8px;
}

.progress-bar {
    height: 4px;
    background: var(--main-green);
    width: 0;
    border-radius: 8px;
}

.ir-arriba {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 70px;
    background: var(--main-green);
    border: 2px solid var(--color-text);
    padding: 10px;
}

.boton_chat {
    position: fixed;
    bottom: 35px;
    right: 15px;
    background: var(--main-green);
    border-radius: 50%;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    cursor: pointer;
    font-family: "Roboto";
    font-size: 24px;
    transition: all 0.3s ease;
}

.boton_modal {
    position: fixed;
    bottom: 35px;
    right: 120px;
    background: var(--main-green);
    border-radius: 50%;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    cursor: pointer;
    font-family: "Roboto";
    transition: all 0.3s ease;
}

.ir-arriba,
.boton_modal,
.boton_chat {
    width: 31px;
    height: 32px;
}

.ir-arriba *,
.boton_modal *,
.boton_chat * {
    color: var(--color-text);
    font-size: 17px !important;
}

main {
    display: block;
    min-height: calc(559px - 69px);
    background: var(--main-grey);
    width: 100%;
}

.pre {
    position: fixed;
    bottom: 0;
    display: block;
    height: 2%;
    background-color: var(--opacity-grey);
    width: 100%;
    transition: height 0.4s;
    z-index: 2;
    color: var(--opacity-grey);
}

.pre:hover {
    background-color: var(--opacity-grey);
    color: var(--main-green);
    height: 25%;
    overflow: auto;
    padding: 2%;
}

.pre .state {
    text-align: left;
    font-size: 14px;
    padding: 0;
}

.pre .state * {
    text-align: left;
}

@media screen and (max-width: 800px) {
    body{ 
        padding-top: 80px;
        width: auto;
    }
    
    .ir-arriba,
    .boton_modal,
    .boton_chat {
        display: none;
    }
}