.episodegrid .grid-item {
    width: 150px;
    height: 100px;
    margin: 2%;
    display: inline-block;
    max-height: 400px;
    position: relative;
  }
  
  .episodegrid .grid-item .image {
    width: 100%;
    height: 90%;
  }
  
  .episodegrid .grid-item .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }
  
  .episodegrid .grid-item:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .episodegrid .grid-item:hover .image {
    opacity: 0.6;
  }
  
  .episodegrid .grid-item .fa-play-circle {
    margin: auto;
    white-space: nowrap;
    font-size: 40px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .episodegrid .data {
    height: 35px;
    letter-spacing: 2.5px;
    overflow: hidden;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  
  .episodegrid .table {
    width: 100%;
  }
  
  .episodegrid .table .table-tbody {
    text-align: center;
    overflow-x: hidden;
    overflow-y: visible;
    overflow: auto;
  }
  
  .episodegrid .table .table-tbody .tbody-row {
    width: 100%;
  }
  
  .episodegrid .table .table-tbody .tbody-row .tbody-cell {
    padding: 5px;
    max-width: 25%;
  }
  
  .episodegrid .table .table-tbody .tbody-row:hover {
    transition: all 200ms ease-in;
  }
  
  @media screen and (max-width: 800px) {
    .episodegrid .grid-item {
      width: 150px;
      height: 100px;
      margin: 2%;
    }
  }
  










  :root {
    --color-text: #fff;
    --main-green: #ff1e00/*#07c24f*/;
    --main-grey: #3d3d3d;
    --opacity-grey: #3d3d3da4;
    --opacity-green: #07c24fbd;


    --main-green: #23a7ff;
    --opacity-green: #23a7ffb7;

}


#endingrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}

#endingrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
}

#endingrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

#endingrid .table.table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
}

.episodegrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}

.episodegrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
}

.episodegrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

.episodegrid .table .table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
}
