.grid-anime {
    display: inline-block;
    background: transparent;
    font-size: 14px;
    text-align: center;
    position: relative;
    padding: 8px;
    height: 230px;
    width: 146px;
    color: var(--color-text);
    overflow: hidden;
}

.grid-anime .element_img {
    height: 230px;
    width:100%;
}

.grid-anime:hover .element_text {
    height: 100%;
}

.grid-anime .element_text {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-grey);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-grey);
    box-shadow: 0 -4px 6px 0 var(--opacity-grey);
    height: 18px;
    width:100%;
    background: var(--opacity-grey);
    z-index: 1;
    color: var(--color-text);
    transition: height 0.4s;
    -moz-transition: height 0.4s;
    -webkit-transition: height 0.4s;
}

.grid-anime .element_text .titulo {
    font-size: 15px;
}

.grid-anime .element_text .buttons {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: var(--main-grey);
    color: var(--color-text);
    font-weight: bold;
    margin: 4px;
    padding: 2px 15px;
}

.grid-anime .element_text .buttons:hover {
    background-color: var(--color-text);
    color: var(--main-grey);
}



@media screen and (max-width: 800px) { 
    .grid-anime{
        margin: auto;
        display: block;
    }
}