.collection{
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.info{
    margin:15px 0px;
    width: 45%;
    color: var(--color-text);
}

.info .name{
    text-align: left;
}

.info .img {
    width: 33%;
    min-width: 190px;
    height: 325px;
    padding-top: 15px;
}

.info .num{
    font-size: 22px;
    padding: 5px;
    text-align: left;
}

.info .line hr{
    font-size: 19px;
    background: var(--main-green);
}

.info .info_avatar{
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}

.info .info_avatar .avatar{
    display: inline-block;
    padding: 2px;
    width: 44px;
    height: 39px;
    max-width: 765px;
    vertical-align: bottom;
}

.info .info_avatar .avatar img{
    border-radius: 50%;
    width:100%;
    height: 100%;
}

.info_avatar .info_usuario{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: super;
    margin-left: 15px;
}

.info .info_avatar .info_usuario .nombre{
    font-size: 24px;
    display: block;
    text-align:left;
}

.info .info_avatar .info_usuario .estado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.info .info_avatar .info_usuario .estado .input_enviar{
    border: 1px solid var(--main-green);
    width: 95%;
    font-family: "Roboto";
    font-size: 20px;
    background-color: transparent;
    color: var(--color-text);
    outline: 0px;
    text-align: left;
    overflow: hidden;
}

.info .info_avatar .info_usuario .estado .btn_enviar{
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    color: var(--color-text);
    text-decoration: none;
    border-radius: 50px;
    overflow: hidden;
    padding: 8px;
}

.info .info_avatar .info_usuario .estado .btn_enviar i{
    font-size: 20px;
}

 .collection .list{
    width: 65%;
}

 .collection .list .item{
    display: block;
    width: 100%;
}

 .collection .list .toolbar{
    display: block;
    text-align: end;
  }
  
 .collection  .list .toolbar .tablinks {
    background-color: var(--opacity-grey);
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: var(--main-green);
    font-size: 12px;
  }
  
 .collection  .list .toolbar .tablinks i {
    padding: 14px 16px;
  }
 .collection  .list .toolbar .tablinks *{
    font-size: 12px;
  }
  
 .collection  .list .toolbar .tablinks:hover {
    background-color: var(--opacity-grey);
    color: var(--main-green);
  }
  
 .collection  .list .toolbar .tablinks.active{
    display:inline-block;
    background: var(--main-green); 
    color: var(--color-text);
  }
  
  
  
 .collection  .list .toolbar a[class*='active']{
    display: none!important;
  }
  
 .collection  .list .toolbar a:not([class*='active']) {
    display:inline-block;
    background: var(--main-green); 
    color: var(--color-text);
  }

  .collection .list .lista {
    border: 1px solid var(--main-grey);
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
     display: flex;
     justify-content: space-between;
     background: var(--main-grey);
     color: var(--color-text);
     align-items: center;
 }
 
.collection  .list .lista .texto_line{
     display: flex;
     justify-content: left;
     align-items: center;
     width:100%;
     padding-right: 7px;
     height: 80px;
     max-height: 350px;
     color: var(--color-text);
     text-decoration: none;
 }
 
.collection  .list .lista:hover .texto_line:hover,
.collection  .list .lista:hover .texto_line:hover .img{
     background-color: var(--main-green);
     -webkit-box-shadow:  inset -147px -5px 52px -82px   var(--main-green);
     -moz-box-shadow:  inset -147px -5px 52px -82px   var(--main-green);
     box-shadow:  inset -147px -5px 52px -82px   var(--main-green);
 }
 
.collection  .list  .lista .texto_line .img{
     display: inline-block;
     width: 33%;
     min-width: 90px;
     height: 80px;
     -webkit-box-shadow: inset -147px -5px 52px -82px   var(--main-grey);
     -moz-box-shadow: inset -147px -5px 52px -82px   var(--main-grey);
     box-shadow: inset -147px -5px 52px -82px   var(--main-grey);
 }
 
.collection  .list .lista .texto_line .texto {
     display: inline-block;
     max-width: 65%;
     font-size: 16px;
 }
 
 
@media screen and (max-width: 800px) {
    .collection{
        width:90%;
        margin: auto;
        display: block;
        align-items: top;
    }

    .info{
        width: 100%;
        text-align: center;
    }
    
    .info .img {
        margin:auto;
        min-width: 190px;
        height: 325px;
        padding-top: 15px;
        box-sizing: border-box;
    }

   .collection  .list{
        width: 100%;
    }

   .collection  .list .lista .texto_line .texto {
        max-width: 65%;
        font-size: 16px;
    }
}



























































:root {
    --color-text: #fff;
    --main-green: #ff1e00/*#07c24f*/;
    --main-grey: #3d3d3d;
    --opacity-grey: #3d3d3da4;
    --opacity-green: #07c24fbd;


    --main-green: #23a7ff;
    --opacity-green: #23a7ffb7;

}
/* Track */
::-webkit-scrollbar-track {
    background: var(--main-grey);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--opacity-green);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-green);
  }

  main{
    background-color: #666666;
  }

.progress-container{
    background: var(--opacity-grey);
}

.progress-bar{
    background: var(--main-green);
}

.button_fixed{
    border-color: var(--color-text);
    color: var(--color-text);
    background: var(--main-green);
}

.alert{
    color: var(--color-text);
}

.mensajes .notification{
    color: var(--color-text);
}

.mensajes .delete:hover {
    color: var(--color-text);
  }

.pre{
    background-color: var(--opacity-grey);
    color: var(--opacity-grey);
}

.pre:hover{
    background-color: var(--opacity-grey);
  color: var(--main-green);
}

.admin{
    background: var(--main-grey);
}

.admin_element {
    color: var(--main-green);
    border: 1px solid var(--main-green);
}

.admin_element.active {
    background-color: var(--main-green);
    color: var(--color-text);
  }

.toolbar .tab{
    color: var(--main-green);
    background-color: var(--opacity-grey);
}

.toolbar .tab .tablinks{
    color: var(--color-text);
}

.toolbar .tab .tablinks:hover {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

/* .toolbar .tab .tablink.active, */
.toolbar .tab .tablinks.active {
    background: var(--main-green);
    color: var(--color-text);
}

.importador #myProgress{
    background-color: var(--main-grey);
}

.importador .percent{
    color: white !important;
}

.container-loading{
    background-color: var(--opacity-grey);
}

.container-loading .texto{
    color: var(--main-green);
}

.container-loading .folding .sk-cube:before{
    background-color: var(--main-green);
}

.commingsoon{
    color: var(--color-text);
}


.comments .info_avatar .info_usuario .estado .input_enviar{
    border: 1px solid var(--main-green);
    color: var(--color-text);
}

.comments .info_avatar .info_usuario .estado .btn_enviar{
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    color: var(--color-text);
}
 
.comentario{
    color: var(--color-text);
}

.tarjeta {
    background: var(--main-grey);
}

.slider_banner .banner .anime .first .titulo{
	-webkit-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	-moz-box-shadow: 0 -6px 16px 10px var(--opacity-grey);
	box-shadow: 0 -6px 16px 10px var(--opacity-grey);
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

.slider_banner .flecha-banner {
    color:var(--opacity-green);
}

.slider_banner .flecha-banner:hover {
	color: var(--main-green);
}

.filters{
    background: var(--main-grey);
}

.filters .link {
    color: var(--color-text);
}

.filters .link:hover {
    background: var(--opacity-green);
}

.error{
    color: var(--main-green);
}

.error .text{
    background-color: var(--opacity-green);
    color: var(--main-grey);
    border: 2px solid var(--main-grey);
}

.error .link {
    background: var(--main-green);
    border: 2px solid var(--color-text);
    color: var(--color-text);
}

.error .link:hover{
    border-color: var(--main-green);
    background: var(--opacity-grey);
    color: var(--color-text);
}

#endingrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}

#endingrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
}

#endingrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

#endingrid .table.table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
}

#episodegrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}

#episodegrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
}

#episodegrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
}

#episodegrid .table .table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
}


#openingrid .grid-item .fa-play-circle {
    color: var(--opacity-green);
}
  
  #openingrid .data {
    background-color: var(--main-green);
    color: var(--color-text);
    -webkit-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    -moz-box-shadow: 0 -4px 6px 0 var(--opacity-green);
    box-shadow: 0 -4px 6px 0 var(--opacity-green);
  }
  
  #openingrid .table {
    background-color: var(--opacity-grey);
    color: var(--color-text);
  }
  
  #openingrid .table.table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
  }
  

.personage_list{
    background-color: black;
}

 .personage_list .info{ 
    color: var(--opacity-green);
}

.table{
    background-color: var(--opacity-grey);
    color: var(--color-text);
  }
  
  .table .table-tbody .tbody-row:hover {
    box-shadow: 0px 0px 10px var(--color-text);
  }

.PersonageDetails .modal_container{
    color: var(--color-text);
}

.PersonageDetails  .modal_container .personage-modal.first .image{
    border: 1px solid  var(--main-green);
}


footer{
    background:var(--main-grey);
    border-top-color: var(--main-green);
    color: var(--color-text);
}

  footer .footer-list .element_container {
    color: var(--color-text);
    background: var(--main-green);
  } 
  
  footer .footer-list .element_container .element_text{
    background-color: var(--main-green);
    color:var(--color-text);
  }
  
  footer .footer-logo .logo {
    color: var(--color-text);
  } 
  
   footer .footer-logo .contador li:hover{
     background-color: transparent;
   }
   
   footer .footer-logo .contador li i{
    color: var(--color-text);
    background-color: linear-gradient(to bottom, #ffffff, var(--main-green))!important;
   }
  
  footer .footer-logo .sidenav .element * {
    display: block;
    color: var(--color-text);
  }
  
  .listanime-page {
    color: var(--color-text);
}

.listanime-page .tab .tablinks {
    background-color: var(--opacity-grey);
    color: var(--main-green);
}

.listanime-page .tab .tablinks:hover {
    background-color: var(--opacity-grey);
    color: var(--main-green);
}