html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@import "themes/dark.css";
::-webkit-scrollbar {
  width: 10px;
}

i[class^="fab fa-"],
i[class^="far fa-"],
i[class^="fas fa-"] {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  transition: all 0.3s ease !important;
  /* font-family: "Roboto-Black"; */
  font-family: "Coming Soon";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
}
