footer{
  display: block;
  width:100%;
  border-top: 2px solid;
  min-height: 115px;
}

footer .footer-list {
  padding-top: 8px;
  height: 100%;
  width: 73%;
  display: inline-block;
  text-align: left;
  vertical-align:top;
}

footer .footer-list .element_container {
  overflow: hidden;
  width: 19%;
  height: 24px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
} 

footer .footer-list .element_container:hover {
  cursor: pointer;
}

footer .footer-list .element_container .element_text{
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  width:100%;
  vertical-align: middle;
}

footer .footer-logo {
  padding-top: 8px;
  display: inline-block;
  width:25%;
  text-align: center;
  height: 100%;
}

footer .footer-logo .logo {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
} 

/*Contador*/
footer .footer-list .contador{
  height: 25px;
  display: block;
}

footer .footer-list .contador li:hover{
  background-color: transparent;
}

footer .footer-list .contador li{
  display: inline-block;
  padding-right: 8px;
}

footer .footer-list .contador li i{
  font-size: 35px;
  position: relative;
  display: inline-block;
  font-weight: 5;
}

footer .footer-list .contador li i b{
  position: absolute;
  top: 3px;
  left: 8px;
  bottom: 0;
  font-size: 20px;
}

footer .footer-logo .sidenav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

footer .footer-logo .sidenav .element{
  text-decoration: none;
  list-style: none;
}

footer .footer-logo .sidenav .element * {
  display: block;
}

footer .footer-logo .sidenav .element  i{
  font-size: 25px;
}

@media screen and (max-width: 800px) { 
  footer{
    width: 100%;
  }

  footer .footer-list .element_container{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 7px;
  }

  footer .footer-list,
  footer .footer-logo{
    display: block;
    width:100%;
    height: auto;
    overflow: hidden;
  }

}

footer{
  background:var(--main-grey);
  border-top-color: var(--main-green);
  color: var(--color-text);
}

footer .footer-list .element_container {
  color: var(--color-text);
  background: var(--main-green);
} 

footer .footer-list .element_container .element_text{
  background-color: var(--main-green);
  color:var(--color-text);
}

footer .footer-logo .logo {
  color: var(--color-text);
} 

 footer .footer-logo .contador li:hover{
   background-color: transparent;
 }
 
 footer .footer-logo .contador li i{
  color: var(--color-text);
  background-color: linear-gradient(to bottom, #ffffff, var(--main-green))!important;
 }

footer .footer-logo .sidenav .element * {
  display: block;
  color: var(--color-text);
}
